<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>published_at</key>
    <integer>1558915200</integer>
    <key>table</key>
    <string>101/C/NBP/2019</string>
    <key>currencies</key>
    <dict>
      <key>USD</key>
      <dict>
        <key>buy</key>
        <real>3.7983</real>
        <key>code</key>
        <string>USD</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>dolar amerykański</string>
        <key>sell</key>
        <real>3.8751</real>
      </dict>
      <key>AUD</key>
      <dict>
        <key>buy</key>
        <real>2.6270</real>
        <key>code</key>
        <string>AUD</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>dolar australijski</string>
        <key>sell</key>
        <real>2.6800</real>
      </dict>
      <key>CAD</key>
      <dict>
        <key>buy</key>
        <real>2.8242</real>
        <key>code</key>
        <string>CAD</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>dolar kanadyjski</string>
        <key>sell</key>
        <real>2.8812</real>
      </dict>
      <key>EUR</key>
      <dict>
        <key>buy</key>
        <real>4.2531</real>
        <key>code</key>
        <string>EUR</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>euro</string>
        <key>sell</key>
        <real>4.3391</real>
      </dict>
      <key>HUF</key>
      <dict>
        <key>buy</key>
        <real>1.3067</real>
        <key>code</key>
        <string>HUF</string>
        <key>conversion</key>
        <integer>100</integer>
        <key>name</key>
        <string>forint (Węgry)</string>
        <key>sell</key>
        <real>1.3331</real>
      </dict>
      <key>CHF</key>
      <dict>
        <key>buy</key>
        <real>3.7910</real>
        <key>code</key>
        <string>CHF</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>frank szwajcarski</string>
        <key>sell</key>
        <real>3.8676</real>
      </dict>
      <key>GBP</key>
      <dict>
        <key>buy</key>
        <real>4.8123</real>
        <key>code</key>
        <string>GBP</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>funt szterling</string>
        <key>sell</key>
        <real>4.9095</real>
      </dict>
      <key>JPY</key>
      <dict>
        <key>buy</key>
        <real>3.4667</real>
        <key>code</key>
        <string>JPY</string>
        <key>conversion</key>
        <integer>100</integer>
        <key>name</key>
        <string>jen (Japonia)</string>
        <key>sell</key>
        <real>3.5367</real>
      </dict>
      <key>CZK</key>
      <dict>
        <key>buy</key>
        <real>0.1646</real>
        <key>code</key>
        <string>CZK</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>korona czeska</string>
        <key>sell</key>
        <real>0.1680</real>
      </dict>
      <key>DKK</key>
      <dict>
        <key>buy</key>
        <real>0.5695</real>
        <key>code</key>
        <string>DKK</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>korona duńska</string>
        <key>sell</key>
        <real>0.5811</real>
      </dict>
      <key>NOK</key>
      <dict>
        <key>buy</key>
        <real>0.4361</real>
        <key>code</key>
        <string>NOK</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>korona norweska</string>
        <key>sell</key>
        <real>0.4449</real>
      </dict>
      <key>SEK</key>
      <dict>
        <key>buy</key>
        <real>0.3974</real>
        <key>code</key>
        <string>SEK</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>korona szwedzka</string>
        <key>sell</key>
        <real>0.4054</real>
      </dict>
      <key>XDR</key>
      <dict>
        <key>buy</key>
        <real>5.2560</real>
        <key>code</key>
        <string>XDR</string>
        <key>conversion</key>
        <integer>1</integer>
        <key>name</key>
        <string>SDR (MFW)</string>
        <key>sell</key>
        <real>5.3622</real>
      </dict>
    </dict>
  </dict>
</plist>
